.groupimg {
    max-width: 200px;
}

.groupList {
    display: flex;
    align-items: center;
}

.groupCard {
    display: flex;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(232, 227, 227);
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
}
