.main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainText {
    font-weight: 700;
}

.randomWishes {

    color:blueviolet;
    border-radius: 20px;
    background-color: white;
    opacity: 0.5;
    width: 98%;
}

