@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@500&family=Comfortaa&family=Monoton&family=Rubik+Bubbles&display=swap');å

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../../public/backgrounds/clouds.jpg');
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36px;
  font-family: 'Amatic SC';
  opacity: 1;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-edit{
  display: flex;
  flex-direction: column;
}
.btn{
  width: fit-content;
}
.button-friend-list{
  display: flex;
  justify-content: space-around;
  }
.button-friend{
  background-color: rgb(153, 153, 153);
  margin-top:20px;
  width: 400px;
  height:100px;
  border-radius: 15px;
  font-size: 30px;
}

.button-friend:hover{
  background-color: rgb(75, 72, 72);
  color:aliceblue;
  cursor:pointer;
  
}
.button-friend:active{
  background-color: rgb(238, 231, 231);
  color:rgb(126, 128, 130)
  
}
.friend-list{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.friend{
  display:flex;
  width:600px;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  margin:20px;
  background: rgba(255,255,255,0.7);
}

.input-space{
  height:50px;
  margin:20px;
  width: 500px;
  border-radius: 20px;
}
.antiwishlist-container{
  display: flex;
  justify-content: center;
  gap:200px;
  }
  .antiwish-add{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

  .li-antiwish{
    list-style: none;
  }
  .antiwish-cell{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(252, 193, 193);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 100px;
    gap:10px;
    
  }
  
  .antiwish-block{
    display: flex;
  }
  
  .anti{
    display: flex;
    justify-content: center;
  }
  
  .title-antiwish{
    font-size: 30px;
  }
  .description-antiwish{
    overflow: hidden;
    height: 62px;
  }
  
  .my-img{
    object-fit:cover;
    width: 200px;
    height:200px;
  }
  
  .img-list{
    object-fit:cover;
    width: 100px;
    height:100px;
    border-radius: 50%;
  }
  .container-antiwish{
    display: flex;
    justify-content: center;
    z-index: 0;
    margin-top: 100px;
  }
  .antiwish-cell-big{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: beige;
    border: 1px solid black;
  }
  .img-list{
    padding:10px;
    width: 100px;
    height:100px;
    border-radius: 50%;
  
  }

  .button-add{
    width:200px;
    border-radius: 15px;
    background-color: rgb(242, 211, 170);
    height:50px;
    
  }

.button-add:hover{

  background-color: rgb(41, 24, 3);
  color:white;
  cursor:pointer;

}

.button-add:active{

  background-color: rgb(206, 202, 197);
  color:rgb(88, 85, 85);
  cursor:pointer;

}

.modal-class{
  padding-left: 20px;
}

.wishlist-profile{
  display: flex;
}